* {
    margin: 0;
    padding: 0;
  }
  
  html,
  body {
    height: 100%;
    /* for touch screen */
    touch-action: none; 
  }
  
  body {
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: #111;
    -webkit-perspective: 1000px;
            perspective: 1000px;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
  }
  
  #drag-container, #spin-container {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: auto;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
    -webkit-transform: rotateX(-10deg);
            transform: rotateX(-10deg);
            z-index: 100;
  }
  
  #drag-container img, #drag-container video {
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
    position: absolute;
    left: 0;
    top: 0;
    max-width: 120%;
    max-height: 120%; 
    line-height: 200px;
    font-size: 50px;
    text-align: center;
    -webkit-box-shadow: 0 0 8px #fff;
            box-shadow: 0 0 8px #fff;
    -webkit-box-reflect: below 10px linear-gradient(transparent, transparent, #0005);
  }
  
  #drag-container img:hover, #drag-container video:hover {
    -webkit-box-shadow: 0 0 15px #fffd;
            box-shadow: 0 0 15px #fffd;
    -webkit-box-reflect: below 10px linear-gradient(transparent, transparent, #0007);
  }
  
  #drag-container p {
    
    position: absolute;
    top: 100%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%) rotateX(90deg);
            transform: translate(-50%,-50%) rotateX(90deg);
    color: rgb(0, 195, 255);
    animation: fadein ease 15s;
  }

  @keyframes fadein {
      from {
          opacity:0;
          
      }
      to {
          opacity: 1;
          
      }
  }
  
  #ground {
    width: 900px;
    height: 900px;
    position: absolute;
    top: 100%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%) rotateX(90deg);
            transform: translate(-50%,-50%) rotateX(90deg);
    background: -webkit-radial-gradient(center center, farthest-side , #9993, transparent);
  }
  
  #music-container {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
  }
  
  @-webkit-keyframes spin {
    from{
      -webkit-transform: rotateY(0deg);
              transform: rotateY(0deg);
    } to{
      -webkit-transform: rotateY(360deg);
              transform: rotateY(360deg);
    }
  }
  
  @keyframes spin {
    from{
      -webkit-transform: rotateY(0deg);
              transform: rotateY(0deg);
    } to{
      -webkit-transform: rotateY(360deg);
              transform: rotateY(360deg);
    }
  }
  @-webkit-keyframes spinRevert {
    from{
      -webkit-transform: rotateY(360deg);
              transform: rotateY(360deg);
    } to{
      -webkit-transform: rotateY(0deg);
              transform: rotateY(0deg);
    }
  }
  @keyframes spinRevert {
    from{
      -webkit-transform: rotateY(360deg);
              transform: rotateY(360deg);
    } to{
      -webkit-transform: rotateY(0deg);
              transform: rotateY(0deg);
    }
  }

  #canvas {
    background-color:transparent;   
    color: transparent; 
    margin: 0;
    overflow: hidden;
    background-repeat: no-repeat;
    width: 100vw;
  }


#canva {
    position: absolute;
    top: 0px;
    right: 0px;
    overflow: hidden;
}

p {
    font-family: 'Dancing Script', cursive;
    font-family: 'Rampart One', cursive;
    font-size: 4vw;

}

#container{
  z-index: 100;
  padding: 100px;
  position: absolute;
  display: flex;
      align-items: center;
      justify-content: center;
      width: 4.25rem;
      height: 4.25rem;
}
  
.yeuem{
  height: inherit;
    width: inherit;
  position: relative;
}
  .heart{
      height: inherit;
      width: inherit;
      background: rgb(247, 40, 195);
      transform: rotate(45deg);
      box-shadow: 0 0 50px rgb(247, 40, 195); }
  .heart:before{
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: -50%;
      border-radius: 50%;
      background: rgb(247, 40, 195);
      transform: rotate(45deg);
      box-shadow: 0 0 50px rgb(247, 40, 195); 
  }
  
  .heart::after{
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      top: -50%;
      left: 0%;
      border-radius: 50%;
      background: rgb(247, 40, 195);
      transform: rotate(45deg);
      box-shadow: 0 0 50px rgb(247, 40, 195); 
  }
  #container {
      animation: quindien alternate 0.5s linear infinite;
  }
  #container  p {
      position: absolute;
      z-index: 10000;
      font-size: 15px;
      margin-bottom: 30px;
      font-style: italic;
      color: rgb(196, 217, 235);
  }
  @keyframes quindien{
      0%{
          transform: scale(1);
      }
      100%{
          transform: scale(1.2);
      }
  }
  @keyframes gathui{
      0%{
          opacity: 1;
          transform: translateY(0);
      }
      10%{
          opacity: 1;
      }
      90%{
          opacity: 1;
      }
      100%{
          opacity: 0;
          transform: translateY(50vh);
      }
  }
  #containerfive{
    position: absolute;
    width: 100%;
    height: 100%;
    right: 0;
    top: 0;
  }
  #pinkboard {
    animation: quindien alternate 0.6s linear infinite;
    position: absolute;
    right: -110px;
    top: 10%;
    width: 33%;
    height: 30%;
}
  
  @keyframes quindien{
    0%{
      transform: scale(0.9,1);
    }
    50%{
      transform: scale(0.92,1);
  
    }
    70%{
      transform: scale(0.96,1);
    
    }
    100%{
      transform: scale(0.9,1);
     
    }
  }

.containerthree{
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 100px;
    border-radius: 50%;
}
#heartred {
   border-radius: 50%;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 100000;
    width: 100%;
    height: 100%;
  }